<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/style1.css">
    <title>Scotbank - Spending Summary</title>
</head>

<body>

    <div class="topnav">
        <a href="home#welcome">Welcome</a>
        <a href="home#services">Our Services</a>
        <a href="home#about">About Us</a>
        <a href="home#contact">Contact Us</a>
        <img src="/assets/ScotBankImg.png" alt="ScotBank Logo" class="logo">
        <a href="http://localhost:8080/home" id = "home-link">Home</a>
    </div>

    <div class="container">
        <div class = "title">
            <h2>Spending Summary</h2>
        </div>

        <div class="info-container">
            <div class="buttons-section">
                <button class = "action-button" onclick = "window.location.href='http://localhost:8080/account';" >Account</button>
                <button class = "action-button" onclick = "window.location.href='http://localhost:8080/transaction';" >Transactions</button>
                <button class = "action-button" onclick = "window.location.href='http://localhost:8080/spending';" >Spending Summary</button>
            </div>

            <div class= "overview">
                <h3>All time:</h3>
                <p>Money in: {{totalMoneyIn}}</p>
                <p>Money out: {{totalMoneyOut}}</p>
                <br>
                <h3>Last Month:</h3>
                <p>Money in: {{monthMoneyIn}}</p>
                <p>Money out: {{monthMoneyOut}}</p>
            </div>
        </div>
    </div>
</body>

</html>